@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Abyssinica SIL', serif;
    }
html{
   scroll-behavior:smooth ; 
}
body{
    font-family: 'Cinzel', serif;
font-family: 'Cormorant Garamond', serif;
}
section{
    width: 100%;
    height: 100vh;
    text-decoration: none;
}
section p{
   text-decoration: none;
   color: black;
}
#home{
    background: rgb(111,252,249);
background: linear-gradient(90deg, rgba(111,252,249,1) 0%, rgba(18,120,241,1) 100%);
}
#about{background: #3abab4;}
#servise{background: #a4b0be;}
#quries{background: #2c2c54;}
#help{background: #e056fd;}
#contact{background:#273c75;}
header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);

    


}
#menu li{
    display: inline-block;
    margin-right: 50px;
    justify-content: center;
    text-align: center;
    color: #000;
}
ul li a{
    padding: 10px;
    margin-left: 20px;
    background-size: 20px;
    text-decoration: none;
    color: #000;
    }
    ul li:hover a{
        color: azure;
    }
#about,
#servise,
#quries,
#help,#contact{
    padding-top: 70px;
}
.searching{
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: center;
    position: relative;
    margin-left: 34px;
    padding: 5px;
    background:white;
    }
.logo{
position: relative;
top: 10px;
}
.card{
    position:absolute;
    top: 50px;
}
.content{
     display: block;
     width: 450px;
     height: 370px;
     border:none;
     position: absolute;
     left:800px;
     top: 100px;
     box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
     background:#2d98da;
     border-right: 30px solid #0275a7 }

.text{
    text-transform: uppercase;
    margin-left: 10px;
    padding: 20px;
    
  
}
#topic{
    text-transform: uppercase;
    margin-left: 100px;
    padding: 10px;
    text-decoration: underline 1px solid gray  ;
   
    
}
.text input{
    width: 350px;
    height: 30px;
    border-radius: 1px;
    border: none;
    border-color: none;
    border-radius: 3px;
    background:rgb(227, 236, 238);
    border-style: none;
    outline: none;
    font-size: 15px;
    
}
.content button{
    height: 25px;
    width: 90%;
    margin-top: 30px;
    margin-left: 5px;
    border-radius: 7px;
   border-style: none;
   background: #0275a7;
}
#beginer{
    position:absolute;
    top:30%;
    left: 5%;
}
#full{
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.content-1{
margin-left: 50%;
position: relative;
bottom: 500px;
}
#stack{
    text-align: center;
    text-decoration: underline 1px solid red;
    text-underline-offset: 5px;
}
#guide{
    text-align: center;
    text-decoration: underline 1px solid red;
    text-underline-offset: 5px;
}
#full-1{
    width: 400px;
    height: 500px;
    margin-left: 80px;
}
#content-2{
    position:absolute;
    left: 750px;
}
.paragraph h1{
    position: absolute;
    left: 180px;

}
.paragraph h1,h3{
    text-decoration: underline 1px solid black ;
    text-underline-offset: 5px;
}
.paragraph h2{
    padding-left: 60px;
}
.paragraph h1{
    
}

#red{
    color:red;
    padding-left: 30px;
    font-family: 'Holtwood One SC', serif;
}

#blue{
    color: blue;
    padding-left: 30px;
    font-family: 'Holtwood One SC', serif;
}
#orange{
    color: orange;
    padding-left: 30px;
    font-family: 'Holtwood One SC', serif;;
}
.paragraph p{
    letter-spacing: 1px;
    padding-left: 30px;
}
#custemer{
    color: white;
    margin-left: 60%;
    margin-top: 100px;

}
#love{
    font-size:50px;
    font-family: 'Abyssinica SIL', serif;
}
#love2{
    color: white;
}
#pinky{
    position:relative;
    bottom: 200px;
}
